@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Roboto';
  background-color: #343534;
  margin: 0; }

.flyout-nav {
  position: fixed;
  z-index: 5; }
  .flyout-nav ul {
    background: #eee;
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
    list-style-type: none;
    border-bottom: 1px solid #c5c5c5;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #e7e7e7;
    border-radius: 3px; }
  .flyout-nav li {
    position: relative;
    display: block;
    white-space: nowrap; }
    .flyout-nav li a {
      text-decoration: none;
      color: #333;
      position: relative;
      display: inline-flex;
      width: 100%; }
      .flyout-nav li a .label,
      .flyout-nav li a .shortcut {
        display: table-cell;
        padding: 0.5rem 1rem 0.5rem 1.75rem; }
      .flyout-nav li a .shortcut {
        text-align: right;
        color: #999; }
      .flyout-nav li a label {
        cursor: pointer; }
      .flyout-nav li a input[type='checkbox'] {
        display: none; }
      .flyout-nav li a input[type='checkbox']:checked + .label::before {
        content: '✔️';
        position: absolute;
        top: 0;
        left: 0.25rem;
        padding: 0.25rem; }
      .flyout-nav li a:hover {
        background: #1e88e5; }
        .flyout-nav li a:hover .label,
        .flyout-nav li a:hover .shortcut {
          color: #fff; }
    .flyout-nav li.disabled {
      pointer-events: none; }
      .flyout-nav li.disabled .label,
      .flyout-nav li.disabled .shortcut {
        color: #999; }
    .flyout-nav li.separator {
      margin-bottom: 0.25rem;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.25rem; }
    .flyout-nav li:hover > ul {
      display: block;
      top: 0;
      left: 100%; }
  .flyout-nav > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch; }
    .flyout-nav > ul > li:hover > ul {
      top: 100%;
      left: 0; }

#scale {
  display: block;
  position: fixed;
  width: 100%; }
  #scale #canvas-scale {
    margin-right: 60px; }

#fretboard {
  width: 175%;
  aspect-ratio: 5 / 1;
  position: absolute;
  display: block; }

#ui-overlay {
  position: absolute;
  display: block;
  z-index: 3; }

#control-wrapper {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 5; }
  #control-wrapper #controls {
    display: block;
    position: relative;
    width: 92%;
    margin-left: 60px;
    margin-right: 60px; }
    #control-wrapper #controls .control-group {
      position: relative;
      display: inline-block;
      height: 110px;
      border: 1px solid white;
      margin-left: 10px; }
      #control-wrapper #controls .control-group .header {
        position: relative;
        display: inline-block;
        width: 94px;
        height: 31px;
        top: 39px;
        left: -36px;
        padding-left: 6px;
        padding-right: 6px;
        background-color: white;
        text-align: center;
        line-height: 2;
        transform: rotate(-90deg);
        text-transform: uppercase; }
      #control-wrapper #controls .control-group .master-btn-group {
        position: relative;
        display: block;
        height: 100px;
        padding-left: 32px;
        padding-right: 10px;
        top: -30px; }

#properties-window {
  position: absolute;
  z-index: 2;
  background-color: rgba 243, 243, 243, 0.5;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #c5c5c5;
  border-right: 1px solid #d5d5d5;
  border-left: 1px solid #e7e7e7;
  border-radius: 5px; }

#about-window {
  position: absolute;
  z-index: 2;
  background-color: #e4fcff;
  border: 1px solid #000;
  border-radius: 5px; }
  #about-window img {
    width: 425px;
    padding-left: 35px;
    padding-top: 25px; }
  #about-window #content {
    padding-left: 40px;
    line-height: 2em;
    color: #2d3997; }

#canvas {
  display: block;
  position: absolute;
  padding-right: 60px;
  z-index: 2; }

#canvas-underlay {
  display: block;
  position: absolute; }

.btn-group {
  position: relative;
  display: inline-block !important;
  vertical-align: middle;
  padding-left: 10px;
  padding-top: 10px; }
  .btn-group .btn {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
    .btn-group .btn:first-child {
      margin-left: 0;
      -webkit-appearance: button; }
    .btn-group .btn:not(:disabled):not(.disabled) {
      cursor: pointer; }
  .btn-group .btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d; }
    .btn-group .btn-secondary:not(:disabled):not(.disabled):active {
      color: #fff;
      background-color: #545b62;
      border-color: #4e555b; }

button, select {
  text-transform: none; }

button, input {
  overflow: visible; }

.dropup .dropdown-toggle::after {
  box-sizing: border-box;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent; }
.dropup .dropdown-menu {
  margin-top: 0;
  margin-bottom: 0.125rem; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff !important;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem; }

.show {
  display: block;
  z-index: 5; }
  .show .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b; }

.dropdown-item {
  display: block;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0; }
  .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #b4ffd2; }

a {
  cursor: pointer;
  text-decoration: none; }

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef; }

#menu-test_menu {
  display: none; }

/*# sourceMappingURL=main.css.map */
